
html {
  scroll-behavior: smooth;
  font-family: Consolas;
}



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8400; 
}




body {
    min-width: 800px;
    background: rgb(32,0,1);  
    margin:0px;
  }
  
  
  #trapezoid {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    border: 80px solid rgba(0,0,0,0);
    border-top: 0 solid;
    border-bottom: 100px solid rgb(31,23,15);
    -webkit-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    color: rgba(0,0,0,0.7);
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    margin-top:-53px;
    width: 500px;
    position: relative;
    transition: all 0.7s ease;
    padding-left:7%;
    font-family: Consolas;
    
  }
  
  #trapezoid a, .subnavbtn {
   -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  
  .sub-home {
    display: none;
    position: absolute;
    right: 0;
    left: 0; 
  
    z-index: 1;   
    transform: perspective(-10px);
  }
  
  #trapezoid:hover .sub-home {
    justify-content: center;
    margin-top: 53px;
  }
  
  .navbar {
    position: sticky;
    top: 0;
    display:flex;
    overflow:show;
    justify-content: center;
    height: 0px;
    z-index: 999999999999;
  }
  
  .navbar a {
    float: left;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all 0.5s ease;
    
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 25px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all 0.5s ease;
    cursor: pointer;

  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background:rgb(253,175,28);
    color: black;
    border-radius:5px;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;   
    transform: perspective(-10px);
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none; 
  }
  
  .subnav-content a:hover {
    background:rgb(255, 124, 43);
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: flex;
    justify-content: center;
  }
  
  





  .home{
    padding-top: 0rem;
    text-align: center;
    overflow-x: hidden;
    z-index: 0;
    width: 100%;
    margin-left: 0;
    padding-bottom: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
    font-family: Consolas
}

  .home h2{
    margin-top: 30%;
    position: absolute;
    z-index: 100;
    margin-left: 47.5%;
    padding: 3rem 3rem 3rem 3rem;
    background-color: rgba(255, 92, 23, 0.756);
    border-radius: 0px 0px 10px 10px;
    clip-path: polygon(50% 0%, 100% 42%, 82% 100%, 18% 100%, 0% 42%);

}


  .home img{
    position: relative;
    margin-left: -7.8rem;
    width: 120%;
    height: 600px;
    object-fit: cover;
    overflow: hidden;
}





 
@import url("https://fonts.googleapis.com/css?family=Catamaran:900&display=swap");


.Title {
  font-family: Consolas;
    color: white;
  cursor: pointer;
  position: absolute;
  z-index: 999999999;
  width: 70.5%;
  margin-top: 8%;
  margin-left: 25%;
}
.Title h1 {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 6em;
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  z-index: 999999999;

}
.Title__underline {
  position: relative;
  width: 83.5%;
  left: 0%;
  bottom: 0.3em;
  height: 4px;
  background-color: #000000;
  transition: transform 580ms cubic-bezier(0.2, 0.1, 0.15, 1.32);
  z-index: 999999999;
  margin-top: 11.5%;

}
.Title__highlight {
  position: absolute;
  width: 100%;
  bottom: -50;
  left: 0;
  height: 50px;
  background-color: #000000;
  z-index: -1;
  transition: transform 580ms ease;
}
.Title__filled {
  position: absolute;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 6em;
  top: 0;
  margin-left: 0.5%;
  clip-path: polygon(0% 100%, 0% 99%, 100% 99%, 100% 100%);
  transition: clip-path 600ms cubic-bezier(0.2, 0.1, 0.15, 1.32);
}
.Title:hover .Title__filled {
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
}
.Title:hover .Title__underline {
  transform: translateY(-7em);
}
.Title:hover .Title__highlight {
  transform: translateY(-2.2em);
}





.Title2 {
  font-family: Consolas;
    color: white;
  cursor: pointer;
  position: absolute;
  z-index: 999999999;
  width: 70%;
  margin-top: 38%;
  margin-left: 30%;
  font-style: italic;

}
.Title2 h1 {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 3em;
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  z-index: 999999999;

}


.Title__highlight2 {
  position: absolute;
  width: 101%;
  bottom: -50;
  left: 0;
  height: 50px;
  background-color:rgb(253,175,28);
  z-index: -1;
  transition: transform 580ms ease;
}
.Title__filled2 {
  position: absolute;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 3em;
  top: 0;
  margin-left: 0.25%;
  clip-path: polygon(0% 100%, 0% 99%, 100% 99%, 100% 100%);
  transition: clip-path 600ms cubic-bezier(0.2, 0.1, 0.15, 1.32);
}
.Title2:hover .Title__filled2 {
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
}

.Title2:hover .Title__highlight2 {
  transform: translateY(-2.2em);
}





.Title3 {
  font-family: Consolas;
    color: white;
  cursor: pointer;
  position: absolute;
  z-index: 999999999;
  width: 40%;
  margin-left: 10%;
  margin-top: -5%;
  font-style: italic;

}
.Title3 h1 {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 3em;
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  z-index: 999999999;
}


.Title__highlight3 {
  position:absolute;
  width: 100%;
  left: 0%;
  height: 50px;
  background-color:rgb(253,175,28);
  z-index: -1;
  transition: transform 580ms ease;
}
.Title__filled3 {
  position: absolute;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 3em;
  margin-left: 0.2%;
  clip-path: polygon(0% 100%, 0% 99%, 100% 99%, 100% 100%);
  transition: clip-path 600ms cubic-bezier(0.2, 0.1, 0.15, 1.32);
}
.Title3:hover .Title__filled3 {
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
}

.Title3:hover .Title__highlight3 {
  transform: translateY(-2.2em);
}



.Title4 {
  font-family: Consolas;
    color: white;
  cursor: pointer;
  position: absolute;
  z-index: 999999999;
  margin-left: 53%;
  margin-top: -5%;
  width: 38%;
  font-style: italic;

}
.Title4 h1 {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 3em;
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  z-index: 999999999;
}


.Title__highlight4 {
  position:absolute;
  width: 100%;
  left: 0%;
  height: 50px;
  background-color:rgb(253,175,28);
  z-index: -1;
  transition: transform 580ms ease;
}
.Title__filled4 {
  position: absolute;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 3em;
  margin-left: 0.2%;
  clip-path: polygon(0% 100%, 0% 99%, 100% 99%, 100% 100%);
  transition: clip-path 600ms cubic-bezier(0.2, 0.1, 0.15, 1.32);
}
.Title4:hover .Title__filled4 {
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
}

.Title4:hover .Title__highlight4 {
  transform: translateY(-2.2em);
}



.Title5 {
  font-family: Consolas;
    color: white;
  cursor: pointer;
  position: absolute;
  z-index: 999999999;
  width: 50%;
  margin-left: 33%;
  margin-top: -5%;
  font-style: italic;

}
.Title5 h1 {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 3em;
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  z-index: 999999999;
}


.Title__highlight5 {
  position:absolute;
  width: 100%;
  left: 0%;
  height: 50px;
  background-color:rgb(253,175,28);
  z-index: -1;
  transition: transform 580ms ease;
}
.Title__filled5 {
  position: absolute;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 3em;
  margin-left: 0.2%;
  clip-path: polygon(0% 100%, 0% 99%, 100% 99%, 100% 100%);
  transition: clip-path 600ms cubic-bezier(0.2, 0.1, 0.15, 1.32);
}
.Title5:hover .Title__filled5 {
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
}

.Title5:hover .Title__highlight5 {
  transform: translateY(-2.2em);
}






















.projectbanner{
  background-color: rgb(217,132,76);
  margin-top: -1%;
}
.projectbanner ul{
  list-style: none;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  flex-wrap: wrap;
  margin-left: -3rem;

}
.projectbanner ul li{
  width: 341px;
  height: 200px;
  position: relative;
  overflow: hidden;
  display: list-item;
  margin-left: 0px;
}
.projectbanner .item{
  transition: transform 1s, opacity 0.5s;
  transition: transform 1s, opacity 0.5s, -webkit-transform 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.projectbanner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectbanner ul li a.colorbox{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -webkit-transition: all 400ms ease-out;
  transform: scale(0.2);
  
}

.projectbanner ul li a.whiteline{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(211, 134, 0, 0.674);
  border-style: solid;
  border-color: rgb(0, 0, 0);
  opacity: 0;
  transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -webkit-transition: all 400ms ease-out;
  transform: scale(0.2);
  text-align: center;
  
  color: rgb(16, 16, 16);
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 3px;
  text-decoration: none;
}

.projectbanner ul li a.words{
  display: block;
  position: absolute;
  top: 45%;
  left: 9.8%;
  opacity: 0;
  transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -webkit-transition: all 400ms ease-out;
  transform: scale(0.2);
  font-size: 24px;
  color: rgb(16, 16, 16);
  font-weight: bolder;
  letter-spacing: 10px;
  text-decoration: none;
}

.projectbanner ul li a.skills{
  display: block;
  position: absolute;
  top: 85%;
  left: 9.5%;
  opacity: 0;
  transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -webkit-transition: all 400ms ease-out;
  transform: scale(0.2);
  font-size: 12px;
  color: rgb(16, 16, 16);
  font-weight: bolder;
  letter-spacing: 2px;
  text-decoration: none;

}

.projectbanner ul li:hover a.skills{
  transform: scale(1);
  opacity: 1;
}


.projectbanner ul li:hover a.words{
  transform: scale(1);
  opacity: 1;
}


.projectbanner ul li:hover a.whiteline{
  transform: scale(0.9);
  opacity: 1;
}


.projectbanner ul li:hover a.colorbox{
  transform: scale(1);
  opacity: 1;
}

.projectbanner ul li:hover .item{
  transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.37); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.37);
}









#about img{
  position: absolute;
  margin-left: -9rem;
  margin-top: -40%;
  width: 100.52%;
  object-fit: cover;
  overflow: hidden;
  z-index: -5;
  height: 105vh;
}


#about{
  min-height: 70vh;
  display: flex;
 
}

.leftabout {
  width: 50%;
  color: rgb(255, 255, 255); 
  font-family: Consolas;
  font-size: 18px; 
  line-height: 1.5;
  font-weight: 500;
  margin-left: 10%;
  margin-top: 2%;
  margin-right: 5.5%;

}
.rightabout {
  width: 50%;
  color: white;
  font-weight: bolder;
  font-family: Consolas;
  font-size: 16px; 
  margin-right: 10%;

}

.container {
  width: 100%; 
}


.skill {
  line-height: 20px;
  border-radius: 0 100px 0px 0;
  color: white;
  background: linear-gradient(90deg, rgb(253,175,28) 0%,rgb(255, 57, 43) 100%);
  text-align: center;
  font-family: Consolas;

}


#about2{
  display: flex;
}

.leftabout2 {
  width: 50%;
  font-family: Consolas;
  font-size: 12px; 
  margin-right: 5.5%;
  margin-top: 4%;
  background-color: rgb(12, 12, 12);
  text-align: center;
  color: rgb(104, 104, 104);
  border: 1px solid #ccc; 
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.37); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.37);

}
.rightabout2 {
  width: 50%;
  font-family: Consolas;
  font-size: 12px; 
  margin-top: 4%;
  margin-right: 5.5%;
  background-color: rgb(12, 12, 12);
  text-align: center;
  color: rgb(104, 104, 104);
  border: 1px solid #ccc; 
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.37); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.37);


}

.leftabout2 h2{
  color: rgb(255, 255, 255);
}

.rightabout2 h2{
  color: rgb(255, 255, 255);
}









#contact img{
  position: absolute;
  margin-left: -9rem;
  margin-top: -10%;
  width: 110.5%;
  object-fit: cover;
  overflow: hidden;
  z-index: -5;
  height: 85vh;
}

#contact{
  min-height: 55vh;
  display: flex;
  color: white;
}

.leftcontact {
  width: 50%;
  margin-left: 10%;
  margin-right: 5%;


}
.rightcontact {
  width: 50%;
  color: rgb(255, 255, 255); 
  font-family: Consolas;
      font-size: 14px; 
  line-height: 1.5;
  font-weight: 500;
  margin-right: 10%;
  margin-left: 5%;

}





/*contact form */

input[type=text], select, textarea {
  width: 100%; 
  padding: 10px; 
  font-family: Consolas;
  resize: vertical;
  background-color: rgb(12, 12, 12);
  color: rgb(255, 255, 255);
  border: 1px solid rgba(167,146,129,0.4);
  border-radius: 0 50px 0px 0;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 18px; 
  transition: all 4s ease-in-out;
}

input[type=email], select, textarea {
  width: 100%; 
  padding: 10px; 
  font-family: Consolas;
  resize: vertical;
  background-color: rgb(12, 12, 12);
  color: rgb(255, 255, 255);
  border: 1px solid rgba(167,146,129,0.4);
  border-radius: 0 50px 0px 0;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 18px; 
  transition: all 4s ease-in-out;

}

input[type=submit] {
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 0 40px 0px 0;
  cursor: pointer;
  border: 1px solid rgba(167,146,129,0.4);
  margin-top: -10px;
  font-family: Consolas;
  font-weight: bolder;
  transition: all 4s ease-in-out;

}

input[type=submit]:hover {
  background-color: #ffa200;
  transition: 500ms;
  color: #000;
  transition: all 4s ease-in-out;

}







.center {
  display: table;
  width: 100%;
  margin-left: -7%;
}
#social-test {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}
#social-test h2 {
  color: #fff;
  font-weight: 500;
  transition: none;
}
#social-test li {
  color: rgba(167,146,129,0.6);
  list-style-type: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 1%;
  border: 1px solid rgba(167,146,129,0.4);
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: ease 1000ms;
  
}
#social-test li:hover {
  color: #a79281;
  border: 1px solid #a79281;
  background-color: rgba(84, 2, 67, 0.482);
  transform: rotate(45deg);

}
.social:hover > li {
  opacity: 0.5;
}
.social:hover > li:hover {
  opacity: 1;
}
#social-test li a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  
}




.center2 {
  display: table;
  width: 100%;
  margin-left: 0%;
  position: absolute;
  margin-top: -18%;
}
#social-test2 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  border-spacing: 10px;
}
#social-test2 h2 {
  color: #fff;
  font-weight: 500;
}
#social-test2 li {
  color: white;
  list-style-type: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 1%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: ease .3s;
  background-color: rgba(0, 0, 0, 0.564);
  transition: ease 1000ms;

}
#social-test2 li:hover {
  color: white;
  border: 1px solid #a79281;
  background-color: rgba(255, 77, 0, 0.564);
  transform: rotate(45deg);

}
.social:hover > li {
  opacity: 0.5;
}
.social:hover > li:hover {
  opacity: 1;
}

#social-test2 li a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}




#footer{

  height: 0;
  border: 80px solid rgba(0,0,0,0);
  border-top: 0 solid;
  border-bottom: 30px solid rgb(31,23,15);
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 20px 20px 0 0;
  color: rgb(148, 148, 148);
  -o-text-overflow: clip;
  text-overflow: clip;
  width: 300px;
  position: relative;
  transition: all 0.7s ease;
  font-family: Consolas;
  text-align: center;
  font-style: italic;
  margin-left: 33%;
  padding: 14px 25px;

}

#footer p{

  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.5s ease;
  font-weight: bolder;
  margin-top: 7.1%;

}








:root {
  --color-sky-light: #FFD2BC;
  --color-sky-dark: #F8B9AE;
  --color-flame-yellow: #FDE26C;
  --color-flame-orange: #FDA263;
}



.container3 {
  width: 100%;
  height: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.campfire-wrapper {
  width: 50px;
  height: 400px;
  position: absolute;
  margin-left: 2%;
  margin-bottom: 25%;
}

.smoke-container {
position: absolute;
height: 630px;
width: 300px;
bottom: 86px;
left: 270px;
-webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1) 30%, rgba(0,0,0,0));
-webkit-mask-size: 100% 100%;
-webkit-mask-repeat: no-repeat;
-webkit-mask-position: center bottom;
}
.fire-container {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
  bottom: 0px;
  left: 30px;
  transform-origin: center center;
  transform: rotate(-5deg);
  animation: flicker 3s ease alternate infinite;
}

.flame-1 {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 34px solid var(--color-flame-yellow);
  position: absolute;
  top: -30px;
  left: 10px;
  opacity: 0.4;
}

.flame-1:after {
  content: '';
  position: absolute;
  left: -10px;
  top: 34px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 16px solid var(--color-flame-yellow);
}

.flame-2 {
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-bottom: 12px solid var(--color-flame-orange);
  position: absolute;
  top: 6px;
  left: 16px;
  opacity: 0.8;
}

.flame-2:after {
  content: '';
  position: absolute;
  left: -4px;
  top: 12px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top: 8px solid var(--color-flame-orange);
}

.flame-3 {
  width: 0;
  height: 0;
  border: 1px solid transparent;
  border-bottom: 4px solid var(--color-sky-light);
  position: absolute;
  top: 20px;
  left: 19px;
  opacity: 0.9;
}

.flame-3:after {
  content: '';
  position: absolute;
  left: -1px;
  top: 4px;
  width: 0;
  height: 0;
  border: 1px solid transparent;
  border-top: 4px solid var(--color-sky-light);
}

@keyframes flicker{
0%   {transform: rotate(-1deg);}
20%  {transform: rotate(1deg);}
40%  {transform: rotate(-1deg);}
60%  {transform: rotate(1deg) scale(1.1);}
80%  {transform: rotate(-2deg) scale(1);}
100% {transform: rotate(1deg);}
}

svg {
position: absolute;
top: 0;
height: 600px;
width: 100px;
margin-left: -50%;
margin-bottom: 1%;
}

svg path {
fill: none;
stroke: white;
opacity: 0.3;
stroke-width: 5px;
stroke-dasharray: 500 100;
stroke-linecap: round;
animation: dash 3s linear infinite;
}

@keyframes dash {
  from {
stroke-dashoffset: 0;
}
to {
stroke-dashoffset: 600;
}
}























  section  {
    margin:0em 0em 8em 0em;
    padding: -2em 0 2em 00em;
  }
  section p {
    color: rgb(255, 255, 255); 
    font-family: Consolas;
        font-size: 21px; 
    line-height: 1.5;
    margin-left: 10%;
    font-weight: 500;
  }

  hr {
    background-color: #000;
  }